* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* --azul: #203764;
    --amarelo: #f6a411; */
    --azul: #4d69a1;
    --amarelo: #ffe135;
    --branco: #eaeaea;
    --preto: #2b2b2b;
    --vermelho: #eb4034;
    --verde: #18a365;
    --azulAlternativo: #4d69a1;
    --amareloAlternativo: #dfd880;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    display: grid;
}

header {
    height: 75px;
    border-bottom: 2px solid var(--preto);
    display: flex;
    align-items: center;
    
    background-color: var(--amarelo);
}

.avatar {
    max-height: 50px;
    background-color: var(--branco);
    border-radius: 25%;
    padding: 2px;
}

.informacoes-usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'menu-principal div'
    ;
}

.menu-principal {
    grid-area: 'menu-principal';
    height: calc(100vh - 75px - 50px); /* 50px do header e 50px do footer */
    overflow: auto;
    border-right: 1px solid var(--azul);
}

.menu-principal-lista{
    height: 100%;
}

.item-link {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 10px;
    transition: 0.1s;
}

.item-link:hover {
    background-color: var(--azul);
    color: var(--branco);
    text-indent: 20px;
}

.item-submenu {
    max-height: 0px;
    overflow: auto;
    transition: 0.2s;
}

.subitem-link {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: var(--azul);
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 10px;
    transition: 0.1s;
}

.subitem-link:hover {
    background-color: var(--preto);
    color: var(--branco);
    text-indent: 20px;
}

.tela-trabalho {
    grid-area: 'div';
    padding: 0px 5px;
    background-color: var(--branco);
    height: calc(100vh - 125px);
    overflow: auto;
}

.tela-trabalho-titulo {
    text-align: center;
    color: var(--preto);
}

.tela-trabalho-formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.formulario-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 5px;
}

.formulario-item-metade {
    flex-basis: 50%;
}

.formulario-item-um-quarto {
    flex-basis: 25%;
}

.item-label {
    flex-basis: 100%;
    color: var(--preto);
    font-size: 1.2rem;   
}

.item-input {
    border: 1px solid var(--preto);
    padding: 5px;
    flex-grow: 1;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 2px;
}

.item-input:focus {
    outline: 1px solid var(--azul);
}

.formulario-botao {
    width: 20%;
    height: 40px;
    border-radius: 2px;
    border: 2px solid var(--preto);
    background-color: var(--branco);
    color: var(--preto);
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
}

.formulario-botao:hover {
    background-color: var(--azul);
    color: var(--branco);
    cursor: pointer;
    border-color: var(--azul);
}

footer {
    height: 50px;
    
    background-color: var(--azul);
}

/* BARRA DE ROLAGEM */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--branco);
}

*::-webkit-scrollbar-thumb {
    background: var(--azul);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--preto);
}

.item-submenu::-webkit-scrollbar {
    width: 8px;
}

.item-submenu::-webkit-scrollbar-track {
    background: var(--azul);
}

.item-submenu::-webkit-scrollbar-thumb {
    background: var(--preto);
}

.item-submenu::-webkit-scrollbar-thumb:hover {
    background: var(--amarelo);
}


/* CLASSES PARA JAVASCRIPT */
.menu-opacidade {
    opacity: 50%;
}

/* TESTE */

p {
    display: block;
    /* border: 1px solid red; */
    width: 100%;
}

table {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: calc(100% - 50px);
    overflow: auto;
    border: 2px solid var(--azul);
    border-radius: 2px;
    padding: 10px;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2px;
    height: 50px;
}

tr:not(:first-child):hover  td:not(:last-child, :nth-last-child(-n+2)) {
    background-color: #b0b0b0;
    cursor: pointer;
}

th, td {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    padding: 2px;

    /* border: 1px solid red; */
}

th {
    background-color: var(--amarelo);
    color: var(--branco);
    margin-bottom: 5px;
    font-weight: bold;
}

.cabecalho-btn-editar-usuario, .cabecalho-btn-deletar-usuario {
    flex-basis: 75px;
    flex-grow: 1;
    padding: 5px;

}

td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-editar-usuario, .btn-deletar-usuario {
    padding: 0;
    margin: 0;
    flex-basis: 75px;
    flex-grow: 1;
}

.btn-editar-usuario a, .btn-deletar-usuario a {
    text-decoration: none;
    color: var(--preto);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-editar-usuario a:hover, .btn-deletar-usuario a:hover {
    text-transform: uppercase;
}

.btn-editar-usuario a {
    /* border: 2px solid var(--verde); */
}

.btn-editar-usuario a:hover {
    background-color: var(--verde);
    background-color: (var(--azul));
    color: var(--branco);
}

.btn-deletar-usuario a {
    /* border: 2px solid var(--vermelho); */
}

.btn-deletar-usuario a:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

.subitem-link-ativo {
    background-color: var(--preto);
    color: var(--branco);
    text-indent: 20px;
}